.cargo/
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source
.idea
.flatpak-builder
.flatpak-venv
.flatpak-version
build-dir
repo
flatpak-cargo-generator.py
*.flatpak
test-recordings/
apk-out/