[Desktop Entry]
Type=Application
Name=Camera
Name[cs]=Kamera
Name[zh_CN]=相机
GenericName=Camera
GenericName[cs]=Kamera
GenericName[uk]=Камера
GenericName[zh_CN]=相机
Comment=Third-party camera app for the COSMIC™ desktop
Comment[cs]=Aplikace kamery pro prostředí COSMIC™
Comment[uk]=Застосунок камери для середовища COSMIC™
Comment[zh_CN]=COSMIC™ 桌面的第三方相机应用
Icon=io.github.cosmic_utils.camera
Exec=camera
Terminal=false
Categories=AudioVideo;Video;Recorder;Photography;
Keywords=camera;webcam;photo;video;
Keywords[cs]=kamera;webkamera;fotografie;video;
Keywords[uk]=камера;вебкамера;знімок;фото;видиво;відео;запис;космік;
Keywords[zh_CN]=相机;摄像头;照片;视频;
MimeType=
StartupNotify=true
X-GNOME-UsesNotifications=true
